apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-generation-deployment
  labels:
    app: file-generation
spec:
  #replicas: 3
  selector:
    matchLabels:
      app: file-generation
  template:
    metadata:
      labels:
        app: file-generation
    spec:
      containers:
        - name: file-generation
          image: duarte15sousa/evently_file_generation
          ports:
            - containerPort: 8083
          volumeMounts:
            - name: config-volume
              mountPath: /config
            - name: ticket-storage
              mountPath: /TicketFiles
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 60
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8083
            periodSeconds: 10
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8083
            periodSeconds: 30
            failureThreshold: 3
          env:
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: SPRING_RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_USER
            - name: SPRING_RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_DEFAULT_PASS
      volumes:
        - name: config-volume
          configMap:
            name: file-generation-config
        - name: ticket-storage            
          persistentVolumeClaim:
            claimName: ticket-files-pvc